@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #29293D ;
    font-size: 2em;
    text-align: center;
    color: #fff;
    position: relative;
}

canvas {
    border: solid .2em #fff;
    height: 90vh;
    position: absolute;
    left: 100px;
    
  }

.instructions {
    position : absolute;
    right: 50px;
    top: 200px;
    font-size: .2em;
}
